<!--login_form.html-->
{% extends 'base.html' %}

{% block title %}로그인{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class='text-center'>한증막.GG에 어서오세요!</h1>
<br>
<br>
<br>
    <form method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <br>   
        <br>   
        <button type='submit' class="btn btn-warning btn-lg btn-block">로그인</button>
        <br>
        <a class="btn btn-secondary btn-lg btn-block" href="/accounts/join">회원가입</a>
    </form>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}